flow.json
[
  {
    "id": "efc0711a60c38467",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "12257684f3ae1fbd",
    "type": "http in",
    "z": "efc0711a60c38467",
    "name": "",
    "url": "/change-speed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 240,
    "wires": [["46ebccf82c27b116"]]
  },
  {
    "id": "46ebccf82c27b116",
    "type": "template",
    "z": "efc0711a60c38467",
    "name": "process value",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{\"value\":\"{{{req.query.value}}}\"}",
    "output": "str",
    "x": 440,
    "y": 240,
    "wires": [["4a8c900f1fedf629", "eaa6c082ed83a6e1", "53e375f24c29b08f"]]
  },
  {
    "id": "028022ab936d340a",
    "type": "http in",
    "z": "efc0711a60c38467",
    "name": "",
    "url": "/mode",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 400,
    "wires": [["738771deb922be03"]]
  },
  {
    "id": "738771deb922be03",
    "type": "template",
    "z": "efc0711a60c38467",
    "name": "process value",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{\"mode\":\"{{{req.query.mode}}}\"}",
    "output": "str",
    "x": 440,
    "y": 400,
    "wires": [["4a8c900f1fedf629", "eaa6c082ed83a6e1", "53e375f24c29b08f"]]
  },
  {
    "id": "201e3f9c2cc99b9f",
    "type": "http in",
    "z": "efc0711a60c38467",
    "name": "",
    "url": "/stop",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 580,
    "wires": [["0371d483bf84b494"]]
  },
  {
    "id": "4a8c900f1fedf629",
    "type": "http response",
    "z": "efc0711a60c38467",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 880,
    "y": 360,
    "wires": []
  },
  {
    "id": "0371d483bf84b494",
    "type": "template",
    "z": "efc0711a60c38467",
    "name": "process value",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{\"status\":\"{{{req.query.status}}}\"}",
    "output": "str",
    "x": 440,
    "y": 580,
    "wires": [["4a8c900f1fedf629", "eaa6c082ed83a6e1", "53e375f24c29b08f"]]
  },
  {
    "id": "eaa6c082ed83a6e1",
    "type": "debug",
    "z": "efc0711a60c38467",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 420,
    "wires": []
  },
  {
    "id": "341e8f6b9f04d68f",
    "type": "file",
    "z": "efc0711a60c38467",
    "name": "Guardar datos",
    "filename": "/Users/thrashy190/Documents/Escuela/Octavo_semestre/SistemasProgramables/resultados.txt",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 960,
    "y": 640,
    "wires": [[]]
  },
  {
    "id": "53e375f24c29b08f",
    "type": "function",
    "z": "efc0711a60c38467",
    "name": "function 1",
    "func": "return msg.payload.mode",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 580,
    "wires": [["341e8f6b9f04d68f"]]
  }
]
